<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Link</title>
    <link rel="stylesheet" th:href="@{/templates/global.css}">
</head>
<body>
<nav th:insert="~{navbar :: navbar}"></nav>
<a href="/" th:href="@{/}">
    <img th:src="@{/img/logo.png}" id="logo" alt="Googol logo">
</a>

<form action="#" th:action="@{/addlink}" method="get">
    <input class="search_box" type="text" id="searchInput" name="q" th:value="${q}">
    <input type="submit" value="Adicinar link">
</form>

<div th:if="${not #strings.isEmpty(results)}">
    <h1>Atenção:</h1>
    <pre id="results" th:text="${results}"></pre>
</div>

</body>
</html>