<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/templates/global.css}">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

</head>
<body>
<nav th:insert="~{navbar :: navbar}"></nav>
<a href="/" th:href="@{/}">
    <img th:src="@{/img/logo.png}" id="logo" alt="Googol logo">
</a>
<pre id="results" th:text="${results}"></pre>
</body>
<script>
    function connect() {
        var socket = new SockJS("/ws");
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (message) {
                document.getElementById('results').textContent = JSON.parse(message.body).content;
                ;
            });
        });

        socket.onclose = function (event) {
            console.log("Conexão fechada");
            console.log("Tentando reconectar em 10 segundos...");
            // Tenta reconectar após 10 segundos
            setTimeout(connect, 10000);
        };
    }

    // iniciar a conexão
    connect();
</script>


</html>