<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/templates/global.css}">
</head>
<body>
<nav th:insert="~{navbar :: navbar}"></nav>
<a href="/" th:href="@{/}">
    <img th:src="@{/img/logo.png}" id="logo" alt="Googol logo">
</a>
<pre id="results" th:text="${results}"></pre>
</body>
<script>

    function connect() {
        var socket = new WebSocket("wss://" + window.location.host + "/websocket-endpoint");

        socket.onopen = function (event) {
            console.log("Conexão aberta");
            console.log("Endpoint: " + socket.url);
        };
        socket.onmessage = function (event) {
            console.log("Mensagem recebida: " + event.data);
            document.getElementById('results').textContent = event.data;
        };

        socket.onclose = function (event) {
            console.log("Conexão fechada");
            console.log("Tentando reconectar em 10 segundos...");
            // Tenta reconectar após 10 segundos
            setTimeout(connect, 10000);
        };
    }

    // Inicia a conexão
    connect();
</script>


</html>