<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Googol</title>
</head>

<body>

<nav th:insert="~{navbar :: navbar}"></nav>

<div id="cenas">
    <img th:src="@{/img/logo.png}" id="logo" alt="Googol logo">

    <form action="#" th:action="@{/search}" method="get">
        <input class="search_box" type="text" id="searchInput" name="q" th:value="${q}">
        <input id="search_button" type="submit" value="Pesquisar">
    </form>
</div>


<div th:if="${weather != null}">
    <h2>Weather Information</h2>
    <p th:text="'City: ' + ${weather.name}"></p>
    <p th:text="'Temperature: ' + ${weather.main.temp} + '°C'"></p>
    <p th:text="'Weather: ' + ${weather.weather[0].main} + ' ' + ${weatherIcon}"></p>
    <p th:text="'Humidity: ' + ${humidity} + '%'"></p>
    <p th:text="'Wind Speed: ' + ${windSpeed} + ' km/h'"></p>
</div>


</body>

</html>