<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/templates/index.css}">
    <link rel="stylesheet" th:href="@{/templates/global.css}">
    <title>Googol</title>
</head>

<body>

<div id="cenas">
    <img th:src="@{/img/logo.png}" id="logo" alt="Googol logo">

    <form action="#" th:action="@{/search}" method="get">
        <input class="search_box" type="text" id="searchInput" name="q" th:value="${q}">
        <input id="search_button" type="submit" value="Pesquisar">
    </form>

    <form action="#" th:action="@{/linkinfo}" method="get">
        <input id="linkinfo" type="submit" value="Obter Informações de um site">
    </form>

    <form action="#" th:action="@{/addlink}" method="get">
        <input id="addlink" type="submit" value="Adicionar site para indexar">
    </form>

    <form action="#" th:action="@{/admin}" method="get">
        <input id="admin" type="submit" value="Admin">
    </form>

</div>

</body>

</html>