<nav th:fragment="navbar">
    <ul>
        <li><a href="#" th:href="@{/linkinfo}">Obter Informações de um site</a></li>
        <li><a href="#" th:href="@{/addlink}">Adicionar site para indexar</a></li>
        <li><a href="#" th:href="@{/indexhacker}">indexhacker</a></li>
        <li><a href="#" th:href="@{/admin}">Admin</a></li>
        <li><a href="#" th:href="@{/weather}">Weather</a></li>
        <li><a href="#" th:href="@{/indexhackerbyuser}">index hacker by user id</a></li>
    </ul>
</nav>